<footer class="footer">
    <div class="container">
        <div class="row logos">
            <div class="logo">
                <p>
                    copyright
                    <a href="http://nou.anevar.ro/" target="_blank">
                        <img src="/img/logo-anevar.png" alt="ANEVAR Logo" class="img-responsive"/>
                    </a>
                </p>
            </div>

            <div class="logo">
                <p>
                    developed by
                    <a href="http://bluemind-software.ro/" target="_blank">
                        <img src="/img/bluemind.png" alt="Bluemind Logo" class="img-responsive blumindLogo"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>